:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: leaguespartan, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;



  --theme-text: hsl(10, 20%, 20%);
  --theme-background: hsl(10, 10%, 98%);
  --theme-primary: hsl(10, 80%, 50%);
  --theme-secondary: hsl(10, 60%, 50%);
  --theme-highlight: hsl(10, 40%, 90%);
  --theme-purple: hsl(250, 60%, 30%);
  --theme-muted: hsl(10, 20%, 94%);
  --theme-gray: hsl(10, 20%, 50%);


  --color-app-back: #222;
  --color-app-fore: white;

  --color-app-logo-back: #000;
  --color-app-logo-fore: white;

  --color-app-top-back: #222;
  --color-app-top-fore: white;

  --panel-bg: #333;

  --color-card-back: #3e5a2c;
  --color-card-border: 2px #CCC solid;
  --color-card-border-radius: 16px;
  --color-card-fore: #FCFCFC;
  --color-card-bar1: #FEFEFE;
  --color-card-bar2: orange;
  --color-param-fore: #444;
  --color-param-back: white;

  --card-tick-font-size: var(--font-size-h3);
  background-color: var(--color-app-back);
  color: var(--color-app-fore);

  /* Parameters */

  --font-family: leaguespartan, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-h1: 25px;
  --font-size-h2: 15px;
  --font-size-h3: 10px;


  --debug-outline: 1px red dashed;
  --debug-outline: 0px red dotted;

  /* Assignments */

  font-size: var(--font-size-h1);
}

div {
  outline: var(--debug-outline);
}

select {
  font-family: var(--font-family);
  /* appearance: none; */
  background: none;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 8px;

  background-color: var(--color-param-back);
  font-weight: bold;
  color: var(--color-param-fore);
}

option {
  border-width: 0px;
  font-size: var(--font-size-h2);
}

button {
  font-size: var(--font-size-h1);
  font-family: var(--font-family);
}

@font-face {
  font-family: 'leaguespartan';
  src: url('/src/assets/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/**********************
 **********************
 ***
 ***   App
 ***
 **********************
 *********************/

.debug-text {
  font-size: var(--font-size-h3);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  background-color: var(--color-app-logo-back);
  color: var(--color-app-logo-fore);
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.app-header-left {
  display: grid;
  text-align: left;
  font-weight: bold;
}

.app-header-right {
  text-align: right;
  font-weight: lighter;
}

.app-top {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background-color: var(--color-app-top-back);
  color: var(--color-app-top-fore);
  /* margin: 32px; */
}

.app-mid {
  flex: 1 1 auto;
  overflow-y: auto;
}

.panel {
  /* background-color: var(--panel-bg); */
  /* outline: 1px dotted white; */
  /* border-radius: var(--color-card-border-radius); */
  /* border: var(--color-card-border); */
}

.panel-spacer {
  width: 100%;
  background-color: transparent;
}

/**********************
 **********************
 ***
 ***   Title
 ***
 **********************
 *********************/
 .title {
  width: 100%;
 }

/**********************
 **********************
 ***
 ***   Request
 ***
 **********************
 *********************/

.request {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  /* margin: 32px; */
  padding: 16px;
  margin-left: 16px;
}

.request div {
  text-align: right;
  white-space: pre;
}

.request select {
  font-size: var(--font-size-h1);
}

.request option {
  font-size: var(--font-size-h2);
}

/**********************
 **********************
 ***
 ***   Filter
 ***
 **********************
 *********************/

.filter {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  white-space: pre;
  font-size: var(--font-size-h2);
  grid-gap: 10px; /* add 10px gap between rows and columns */
  align-items: center;
  /* margin: 32px; */
  padding: 16px;
}

.filter select {
  font-size: var(--font-size-h2);
}

.filter option {
  font-size: var(--font-size-h3);
}

.filter div {
  text-align: right;
}

.filter-select-group {
  grid-column: span 3;
}

.filter-button-delete {
  font-size: var(--font-size-h2);
  border: 0px;
  visibility: collapse;
  width: 0px;
}


/**********************
 **********************
 ***
 ***   Card
 ***
 **********************
 *********************/

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;

  background-color: var(--color-card-back);
  border: var(--color-card-border);
  border-radius: var(--color-card-border-radius);
  color: var(--color-card-fore);
  margin: 32px;
  margin-top: 0px;
  padding-top: 32px;
  padding-right: 32px;
}

.card-title {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

.card-title-1 {
  white-space: pre;
  font-size: var(--card-title-primary-font-size);
}

.card-title-2 {
  font-weight: bold;
  font-size: var(--card-title-secondary-font-size);
  padding-top: 6px;
}

.card-image {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  width: var(--card-photo-image-size);
  height: var(--card-photo-image-size);
}

.card-chart {
  grid-column: 1;
  grid-row: 2;
  height: 500px;
  font-size: var(--card-tick-font-size);
}

/**********************
 **********************
 ***
 ***   Tooltip
 ***
 **********************
 *********************/


 .tooltip {
  border: 1px solid black;
  padding: 10px;
  background-color: var(--popover);
  color: var(--popover-foreground);
  background-color: yellow;
  color: black;
}

.tooltip-header {
  font-weight: bold;
  margin-bottom: 10px;
}
