:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: leaguespartan, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  --font-family: leaguespartan, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-h1: 24px;
  --font-size-h2: 16px;
  --font-size-h3: 12px;
  --general-spacing-h1: 32px;
  --general-spacing-h2: 16px;
  --general-spacing-h3: 12px;

  --theme-primary-bg: #3e5a2c;
  --theme-primary-fg: #FFF;
  --theme-secondary-bg: #222;
  --theme-secondary-fg: #DDD;
  --theme-header-bg: #111;
  --theme-header-fg: #EEE;
  --theme-alternative-bg: yellow;
  --theme-alternative-fg: black;
  --theme-accent-bg: orange;

  /* Assignments */
  /* Header */
  --app-header-background-color: var(--theme-header-bg);
  --app-header-color: var(--theme-header-fg);

  /* 30% */
  --app-toolbar-color: var(--theme-secondary-fg);
  --card-background-color: var(--theme-primary-bg);
  --card-color: var(--theme-primary-fg);
  --color-card-bar1: var(--theme-primary-fg);
  --color-card-bar2: var(--theme-accent-bg);
  --select-background-color: var(--theme-secondary-fg);
  --select-color: var(--theme-secondary-bg);
  --tooltip-background-color: var(--theme-alternative-fg);
  --tooltip-color: var(--theme-alternative-bg);
  background-color: var(--theme-secondary-bg);
  color: var(--theme-secondary-fg);
}

@font-face {
  font-family: 'leaguespartan';
  src: url('/src/assets/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

div {
  outline: 1px red dashed;
  outline: 0px red dotted;
}

select {
  font-family: var(--font-family);
  /* appearance: none; */
  background: none;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 8px;

  background-color: var(--select-background-color);
  font-weight: bold;
  color: var(--select-color);
}

option {
  border-width: 0px;
  font-size: var(--font-size-h2);
}

button {
  font-size: var(--font-size-h1);
  font-family: var(--font-family);
}

/*
   body
*/

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/*
   app-header
*/

.app-header {
  background-color: var(--app-header-background-color);
  color: var(--app-header-color);
  display: grid;
  align-items: center;
  align-content: center;
}

.app-header-left {
 grid-column: 1;
 grid-row: 1;
 justify-self: start;
}

.app-header-center {
 grid-column: 1;
 grid-row: 1;
 justify-self: center;
}

.app-header-right {
 grid-column: 1;
 grid-row: 1;
 justify-self: end;
}

.logo-text {
  font-weight: bold;
}

.debug-text {
  opacity: 0.5;
}

.status-text {
  font-weight: bold;
}

/*
   app-toolbar
*/

.app-toolbar-grid { display: grid; grid-template-columns: auto; grid-template-rows: auto auto; align-items: center; }
.app-toolbar-grid-left { grid-column: 1; grid-row: 1; justify-self: start; }
.app-toolbar-grid-center { grid-column: 1; grid-row: 1; justify-self: center; }
.app-toolbar-grid-right { grid-column: 1; grid-row: 1; justify-self: end; }

.app-toolbar {
  margin-top: var(--general-spacing-h2);
  margin-bottom: var(--general-spacing-h2);
}

/*
   app-toolbar-query
*/

.query-main {
  /* Grid */
  display: grid;
  grid-gap: var(--general-spacing-h2);
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  /* Color */
  /* Spacing */
  /* Misc */
}

.query-main div { text-align: right; }
.query-main select { font-size: var(--font-size-h1); }
.query-main option { font-size: var(--font-size-h2); }

/*
   app-toolbar-filter
*/

.query-filter {
  /* Grid */
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  /* Color */
  /* Spacing */
  padding: 16px;
  /* Misc */
  font-size: var(--font-size-h2);
  grid-gap: var(--general-spacing-h3);
}

.query-filter select { font-size: var(--font-size-h2); }
.query-filter option { font-size: var(--font-size-h3); }
.query-filter div { text-align: right; }
.query-filter select:first-of-type { grid-column: span 3; }

 /*
    app-cards
 */

.app-cards {
  overflow-y: auto;
}

.card-grid { display: grid; }
.card-grid-top-center { grid-column: 1; grid-row: 1; justify-self: center; }
.card-grid-top-right { grid-column: 1; grid-row: 1; justify-self: end; }
.card-grid-mid { grid-column: 1; grid-row: 2; }

.card {
  /* Color */
  background-color: var(--card-background-color);
  color: var(--card-color);
  /* Spacing */
  border-radius: var(--general-spacing-h2);
  margin-left:  var(--general-spacing-h1);
  margin-right:  var(--general-spacing-h1);
  margin-bottom:  var(--general-spacing-h1);
  padding: var(--general-spacing-h2);
  /* Misc */
}

.card-title-1 {
  /* Color */
  /* Spacing */
  /* Misc */
  font-size: var(--font-size-h1);
}

.card-title-2 {
  /* Color */
  /* Spacing */
  /* Misc */
  font-size: var(--font-size-h3);
  font-weight: lighter;
  font-size: var(--card-title-secondary-font-size);
  white-space: pre;
}

.card-image {
  /* Color */
  /* Spacing */
  /* Misc */
  width: 50px;
  height: 50px;
}

.card-chart {
  /* Color */
  /* Spacing */
  /* Misc */
  font-size: var(--font-size-h3);
  height: 500px;
}

/* Tooltip */

 .tooltip {
  /* Color */
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-color);
  /* Spacing */
  margin: var(--general-spacing-h3);
  padding: var(--general-spacing-h3);
  /* Misc */
  border-radius: var(--general-spacing-h3);
  border: 2px var(--tooltip-color) solid;
}

.tooltip-header {
  /* Color */
  /* Spacing */
  margin: var(--general-spacing-h3);
  /* Misc */
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.tooltip-content {
  /* Color */
  /* Spacing */
  margin: var(--general-spacing-h3);
  /* Misc */
  font-size: var(--font-size-h3);
}
